#submit_button
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#sort_button
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
#display_name_with_commas
{
	
    padding: 10px;

	
    width: 50%;
}

#display_name_without_commas
{

    padding: 10px;
    
	
    width: 50%;
}
